TELEGRAM_BOT_TOKEN=replace_me
TELEGRAM_ADMIN_ID=0

DATABASE_URL=postgresql://vpnbot:replace_me@127.0.0.1:5432/vpnbot

XUI_BASE_URL=https://127.0.0.1:45659/mil993e2RzVGipj
XUI_USERNAME=admin
XUI_PASSWORD=replace_me
XUI_INBOUND_ID=42

VPN_PUBLIC_HOST=your.domain.or.ip
VPN_PUBLIC_PORT=41068
VPN_TAG=Our VPN

PLAN_DAYS=30
PRICE_TEXT=Monthly plan
TIMEZONE=Europe/Moscow
