{% load static %}
<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}VXcloud Guide{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'site.css' %}" />
</head>
<body>
  <main class="container">
    <header class="top">
      <a href="/" class="brand">VXcloud</a>
      <div class="top-links">
        <a href="/account/" class="admin-link">Кабинет</a>
        <a href="/admin/" class="admin-link">Admin</a>
      </div>
    </header>
    {% if messages %}
      <section class="alerts">
        {% for message in messages %}
          <p class="alert {{ message.tags }}">{{ message }}</p>
        {% endfor %}
      </section>
    {% endif %}
    {% block content %}{% endblock %}
  </main>
</body>
</html>
